{% extends './layout/base.html' %}
{% block content %}
<style>
    .card-body {
        overflow: hidden;
        overflow-y: scroll;
    }

    #chat2 .form-control {
        border-color: transparent;
    }

    #chat2 .form-control:focus {
        border-color: transparent;
        box-shadow: inset 0px 0px 0px 1px transparent;
    }

    .divider:after,
    .divider:before {
        content: "";
        flex: 1;
        height: 1px;
        background: #eee;
    }
</style>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"
    integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA=="
    crossorigin="anonymous"></script>

<main id="main" class="main">

    <!-- Page Title -->
    <div class="pagetitle">
        <h1>Dashboard</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ url_for('home.home_latest')}}">Home</a></li>
                <li class="breadcrumb-item active">Dashboard</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section dashboard">
        <div class="row">

            <!-- Left side columns -->
            <div class="col-lg-8">


                <div class="container py-5" style="width: 100%;">

                    <div class="row d-flex justify-content-center">

                        <div class="card" id="chat2">
                            <div class="card-header d-flex justify-content-between align-items-center p-3">
                                <h5 class="mb-0">Chat</h5>
                            </div>

                            <div class="card-body" data-mdb-perfect-scrollbar="true"
                                style="position: relative; height: 400px">

                                <div class="d-flex flex-row justify-content-start mt-2 mb-4">
                                    <!-- <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3-bg.webp"
                                                                alt="avatar 1" style="width: 45px; height: 100%;"> -->
                                    <div id="messages">
                                        <p class="small p-2 ms-3 mb-1 rounded-3"
                                            style="background-color: #2e96fe; color: white;">
                                            {{current_user.username}} Connected!</p>
                                        <!-- <p class="small ms-3 mb-3 rounded-3 text-muted">23:58</p> -->
                                    </div>
                                </div>
                            </div>

                            <div class="card-footer text-muted d-flex justify-content-start align-items-center p-3">
                                {% with profile_url = user_data['profile_url'] %}
                                {% if profile_url == '' %}
                                <img class="rounded-circle me-2" style="aspect-ratio: 1;"
                                    src="{{ url_for('static',filename='/profile_pic/default.jpeg' ) }}" height="40" width="40">
                                {% else %}
                                <img class="rounded-circle me-2" style="aspect-ratio: 1;"
                                    src="{{user_data['profile_url']}}" height="40" width="40">

                                {% endif %}
                                {% endwith %}
                                <input type="text" class="form-control form-control-lg" id="messageInput"
                                    placeholder="Type message">
                                <!-- <a class="ms-1 text-muted" href="#!"><i
                                                                class="fas fa-paperclip"></i></a>
                                                        <a class="ms-3 text-muted" href="#!"><i
                                                                class="fas fa-smile"></i></a>
                                                        <a class="ms-3" href="#!"><i class="fas fa-paper-plane"></i></a> -->
                            </div>
                        </div>

                    </div>

                </div>
                <div id="hidden_username" style="display: none;">{{username}}</div>

            </div><!-- End Left side columns -->

            <!-- Right side columns -->
            <div class="col-lg-4">
                <!-- News & Updates Traffic -->
                <div class="card">
                    <div class="card-body pb-0">
                        <h6 class="card-title">News &amp; Updates <span>| Today</span></h6>
                        <div class="post-item clearfix">
                          <h6><a href="https://www.apsit.edu.in/">APSIT Student Makes DTE Web Portal </a></h6>
                          <p>We are thrilled to announce a significant achievement by our talented APSIT students! The NBA Status Portal, a groundbreaking project developed for the Maharashtra Government, showcases the innovative spirit and technical prowess of our students....</p>
                        </div>
                        <div class="post-item clearfix">
                          <h6><a href="https://www.apsit.edu.in/">
                                🏆 Congratulations to Our Thane Smart City Hackathon and Start-up Pitch Fest Winners! 🏆 
                              </a>
                          </h6>
                          <p>🚦 Priority Based Traffic Manipulation (Safety & Security):
                            Winners: Arun Mathai & Atharva Sunil Dhamankar (SE Comps)
                            ♻️ E-waste Management using Blockchain (Solid Waste Management):
                              Winners: Anuj Mishra & Ishan Sathe (BE Comps).....
                          </p>
                        </div>
                        <div class="post-item clearfix">
                          <h6><a
                              href="https://www.apsit.edu.in/">APSIT Teams Win 1st Prize in Smart India Hackathon 2023.</a></h6>
                          <p>APSIT celebrates as two teams clinch the top prize of Rs. 1 Lakh each in the 2023 Smart India Hackathon, hosted by the Government of India. The victory showcases APSIT's innovation and technological excellence...</p>
                        </div>
                        <div class="post-item clearfix">
                          <h6><a href="https://www.apsit.edu.in/">Alumni
                              Success Stories (Saurabh)-Nativsouls</a></h6>
                          <p>To help artisans and craftsmen who are constantly duped by middlemen and big corporate houses led to
                            formation of Nativsouls...</p>
                        </div>
                        <div class="post-item clearfix">
                          <h6><a href="https://www.apsit.edu.in/">🎉 Congratulations to Our International Placement Achievers! 🎉</a></h6>
                          <p>A. P. Shah Institute of Technology, Thane is elated to announce that our talented B.E. students from the Batch of 2023-24 have achieved exceptional international placements at JTP Co. Ltd.!👏 Heartiest congratulations to: Harmit Saini
                            Devanshu Mahapatra
                            Akshaykumar Jain
                            Siddharth Singh...</p>
                        </div>
            
                      </div><!-- End sidebar recent posts-->

                </div>
            </div><!-- End News & Updates -->

        </div><!-- End Right side columns -->

    </section>

</main><!-- End #main -->

<!-- home js starts -->
<script src="{{ url_for('static', filename = 'assets/js/home.js' ) }}"></script>

<script>
    const username = document.getElementById('hidden_username').testContent;
    const socket = io();

    let messageContainer = document.querySelector("#messages");

    socket.on("connect", () => {
        // let p = document.createElement("p")
        // p.innerText = "You're connected"
        // messageContainer.appendChild(p)
    })

    let messageInput = document.getElementById("messageInput")
    messageInput.addEventListener("keypress", (e) => {
        if (e.which === 13) {
            socket.emit("message", messageInput.value)
            messageInput.value = ""
        }
    })

    socket.on('message', (message) => {
        let messageElement = document.createElement("p")
        messageElement.innerHTML = `
                        <div class="d-flex flex-row justify-content-start">
                            <!-- <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3-bg.webp"
                                alt="avatar 1" style="width: 45px; height: 100%;"> -->
                            <div id="messages">
                                <p class="small p-2 ms-3 mb-1 rounded-3" style="background-color: #f5f6f7;">${message}</p>
                                <!-- <p class="small ms-3 mb-3 rounded-3 text-muted">23:58</p> -->
                            </div>
                        </div>
        `
        messageContainer.appendChild(messageElement)
    })

</script>
{% endblock content%}}