{% extends './layout/base.html' %}
{% block content %}

<main id="main" class="main">

  <!-- Page Title -->
  <div class="pagetitle">
    <h1>Dashboard</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ url_for('home.home_latest' ) }}">Home</a></li>
        <li class="breadcrumb-item active">Dashboard</li>
      </ol>
    </nav>
  </div><!-- End Page Title -->

  <section class="section dashboard">
    <div class="row">

      <!-- Left side columns -->
      <div class="col-lg-8">
        <div class="row">

          <div class="col-12">
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            {% for category, message in messages %}
            <div class="alert alert-{{category}}  mx-auto " role="alert">
              {{message}}
            </div>
            {% endfor %}
            {% endif %}
            {% endwith %}
            <div class="card">
              <div class="filter">
                <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                  <li class="dropdown-header text-start">
                    <h6>Filter</h6>
                  </li>

                  <li><a class="dropdown-item" href="/home/latest">Latest</a></li>
                </ul>
              </div>

              <div class="card-body">
                <h5 class="card-title">Hiring <span>/post</span></h5>
              </div>
            </div>
          </div><!-- End View Post -->


          <!-- View Post-->
          {% for post in posts %}
          {%set post =post.to_dict() %}
          <div class="col-12">
            <div class="card">

              <div class="card-body">

                <!-- view post box start -->
                <div class="d-flex flex-column comment-section mt-3">
                  <div class="bg-white p-2">

                    <div class="d-flex flex-row user-info ">
                      {% with profile_url = post['profile_url'] %}
                      {% if profile_url == '' %}
                      <img class="rounded-circle me-2"
                        src="{{ url_for('static',filename='/profile_pic/default.jpeg' ) }}" width="40" height="40">
                      {% else %}
                      <img class="rounded-circle me-2" src="{{post['profile_url']}}" width="40" height="40">
                      {% endif %}
                      {% endwith %}

                      <div class="d-flex flex-column justify-content-start ml-2 ">
                        {% if post['role'] == 'Student' %}
                        <a href="/user/Student/{{post['username']}}"><span
                            class="d-block font-weight-bold name">{{post['username']}}</span>
                        </a>
                        {% endif %}
                        {% if post['role'] == 'Alumini' %}
                        <a href="/user/Alumini/{{post['username']}}"><span
                            class="d-block font-weight-bold name">{{post['username']}}</span>
                        </a>
                        {% endif %}
                        <span class="date text-black-50">Shared publicly -
                          {{post['date_created'].strftime('%d/%m/%Y')}}</span>
                      </div>
                    </div>
                    <div class="mt-2">
                      <h6 class="card-title">{{post['title']}}</h6>

                      <p>Post ID: {{ post['post_id'] }}</p>  <!-- Debug line -->

                      <!-- Added Pre for Proper Indent of Content -->
                      <pre class="comment-text" style="white-space: pre-wrap; overflow-wrap: break-word; word-wrap: break-word;">{{post['content']}}</pre>
                    
                      {% if 'mp4' not in post['media']%}
                      <img src="{{post['media']}}" alt="" class="img-fluid">
                      {% else %}
                      <video width="100%" controls>
                        <source src="{{post['media']}}" type="video/mp4">
                      </video>
                      {% endif %}

                    </div>
                  </div>
                  <div class="bg-white">
                    <div class="d-flex flex-row fs-12">
                      <form action="/like/{{post['post_id']}}" method="post">
                        <div class="like p-2 cursor"><i class="fa fa-thumbs-o-up"></i>
                          <span class="">
                            {% if current_user.username in post['likes'] %}
                            <button class=" btn-primary btn-sm btn shadow-none"
                              type="submit">Like({{post['likes']|length}})

                            </button>
                            {% else %}
                            <button class=" btn-outline-primary btn-sm btn shadow-none"
                              type="submit">Like({{post['likes']|length}})
                            </button>
                            {% endif %}

                          </span>
                        </div>

                      </form>
                      <!-- Edit Button -->
                      <a href="{{ url_for('post.edit_post', post_id=post['post_id']) }}" class="btn btn-warning btn-sm ml-2">Edit</a>




                      <!-- Interested Button -->
                      <!-- {% if post['url'] %}
                        <a href="{{post['url']}}">
                            <button class=" btn-outline-primary btn-sm btn shadow-none">
                              Interested
                            </button>
                        </a>
                      {% endif %} -->

                      <div class="like p-2 cursor"><i class="fa fa-commenting-o"></i><span class="ml-1"><a class=""
                            data-bs-toggle="collapse" href="#{{post['post_id']}}" role="button" aria-expanded="false">
                            <button class=" btn-outline-primary btn-sm btn shadow-none">
                              Comment({{post['comments']|length}})</button>
                          </a></span>
                      </div>


                      {% if post['url'] %}
                        <div class="like p-2 cursor">
                          <i class="fa fa-star-o"></i> <!-- Optional: An icon for the button, similar to the comment button -->
                          <span class="ml-1">
                            <a href="{{ post['url'] }}">
                              <button class="btn btn-outline-primary btn-sm shadow-none">
                                Interested
                              </button>
                            </a>
                          </span>
                        </div>
                      {% endif %}
                      <!-- <div class="like p-2 cursor"><i class="fa fa-share"></i><span class="ml-1">Share</span>
                      </div> -->
                    </div>
                  </div>
                  
                  <div class="bg-light p-2">
                    <form action="/comment/{{post['post_id']}}" method="post">
                      <div class="d-flex flex-row align-items-start">

                        {% with profile_url = user_data['profile_url'] %}
                        {% if profile_url == '' %}
                        <img class="rounded-circle me-2"
                          src="{{ url_for('static',filename='/profile_pic/default.jpeg' ) }}" width="40" height="40">
                        {% else %}
                        <img class="rounded-circle me-2" src="{{user_data['profile_url']}}" width="40" height="40">
                        {% endif %}
                        {% endwith %}

                        <textarea class="form-control ml-1 shadow-none textarea" name="comment"></textarea>
                      </div>
                      <div class="mt-2 text-right d-flex justify-content-end">
                        <button class="btn btn-outline-primary btn-sm ml-1 shadow-none" type="submit">Post
                          Comment
                        </button>
                      </div>
                    </form>
                  </div>
                </div>

                <!-- comment box starts -->

                <div class="collapse" id="{{post['post_id']}}">
                  <div class="card card-body mt-3 ">
                    <div class="card-body mt-3">
                      {% if post['comments'] %}
                      {% with comments= post['comments'] %}
                      {% for key,comment in comments.items() %}
                      <div class="d-flex flex-start mt-4">
                        <!-- {% with profile_url = comment['profile_url'] %}
                        {% if profile_url == '' %}
                        <img class="rounded-circle me-2"
                          src="{{ url_for('static',filename='/profile_pic/default.jpeg' ) }}" width="40" height="40">
                        {% else %}
                        <img class="rounded-circle me-2" src="{{comment['profile_url']}}" width="40" height="40">
                        {% endif %}
                        {% endwith %} -->
                        <i class="fa-solid fa-comments me-2 mt-1 "></i>
                        <div class="flex-grow-1 flex-shrink-1">
                          <div>
                            <div class="d-flex justify-content-between align-items-center">
                              <p class="mb-1">
                                {{comment['username']}}<span class="small">-
                                  {{comment['date_created'].strftime('%d/%m/%Y')}}</span>
                              </p>

                            </div>
                            <p class="small mb-0">
                              {{comment['comment']}}
                          </div>
                        </div>
                      </div>
                      {% endfor %}
                      {% endwith %}


                      {% else %}
                      <div class="mt-2">
                        <p class="comment-text">No Comment.</p>
                      </div>
                      {% endif %}

                    </div>
                  </div>
                </div>
                <!-- comment box ends -->

                <!-- view post box ends -->
              </div>
            </div>
          </div><!-- End View Post -->
          {% endfor %}

        </div>
      </div><!-- End Left side columns -->

      <!-- Right side columns -->
      <div class="col-lg-4">
        <!-- News & Updates Traffic -->
        <div class="card">
          <div class="card-body pb-0">
            <h6 class="card-title">News &amp; Updates <span>| Today</span></h6>
            <div class="post-item clearfix">
              <h6><a href="https://www.apsit.edu.in/">APSIT Student Makes DTE Web Portal </a></h6>
              <p>We are thrilled to announce a significant achievement by our talented APSIT students! The NBA Status Portal, a groundbreaking project developed for the Maharashtra Government, showcases the innovative spirit and technical prowess of our students....</p>
            </div>
            <div class="post-item clearfix">
              <h6><a href="https://www.apsit.edu.in/">
                    🏆 Congratulations to Our Thane Smart City Hackathon and Start-up Pitch Fest Winners! 🏆 
                  </a>
              </h6>
              <p>🚦 Priority Based Traffic Manipulation (Safety & Security):
                Winners: Arun Mathai & Atharva Sunil Dhamankar (SE Comps)
                ♻️ E-waste Management using Blockchain (Solid Waste Management):
                  Winners: Anuj Mishra & Ishan Sathe (BE Comps).....
              </p>
            </div>
            <div class="post-item clearfix">
              <h6><a
                  href="https://www.apsit.edu.in/">APSIT Teams Win 1st Prize in Smart India Hackathon 2023.</a></h6>
              <p>APSIT celebrates as two teams clinch the top prize of Rs. 1 Lakh each in the 2023 Smart India Hackathon, hosted by the Government of India. The victory showcases APSIT's innovation and technological excellence...</p>
            </div>
            <div class="post-item clearfix">
              <h6><a href="https://www.apsit.edu.in/">Alumni
                  Success Stories (Saurabh)-Nativsouls</a></h6>
              <p>To help artisans and craftsmen who are constantly duped by middlemen and big corporate houses led to
                formation of Nativsouls...</p>
            </div>
            <div class="post-item clearfix">
              <h6><a href="https://www.apsit.edu.in/">🎉 Congratulations to Our International Placement Achievers! 🎉</a></h6>
              <p>A. P. Shah Institute of Technology, Thane is elated to announce that our talented B.E. students from the Batch of 2023-24 have achieved exceptional international placements at JTP Co. Ltd.!👏 Heartiest congratulations to: Harmit Saini
                Devanshu Mahapatra
                Akshaykumar Jain
                Siddharth Singh...</p>
            </div>

          </div><!-- End sidebar recent posts-->

        </div>
      </div><!-- End News & Updates -->

    </div><!-- End Right side columns -->

    </div>
  </section>

</main><!-- End #main -->

<!-- home js starts -->
<script src="{{ url_for('static', filename = 'assets/js/home.js' ) }}"></script>
{% endblock content%}}